html, body {
    height: 512px;
    margin: 0;
    padding: 0;
    width: 512px;
    font-size: 14px;
}

body {
    /* Don't use the ugly tan default background color */
    background-color: white;
    /* Needed to hide annoying horizontal scrollbar on Firefox and GNU/Linux */
    overflow-x: hidden;
    overflow-y: auto;
}

#header {
    /* XXX Don't hardcode this */
    background-color: rgba(128,128,128,0.5);
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
}

#title {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 70%;
}

#submit {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
}

#paragraphs {
    margin: 48px 0 0 0;
    overflow-y: auto;
    padding: 4px 16px 4px 4px;
}

#paragraphs li {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
}

#paragraphs li:last-child {
    margin-bottom: 0;
}
